.video-item.item img {
  max-width: 500px;
  color: white;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  color: white;
}

.header {
  color: white;
}

alt {
  color: white;
}
