body {
  background-color: black;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.videos-hp {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 20px;
}

.tweets-hp {
  grid-column: 2/2;
  grid-row: 1/2;
  padding: 30px;
}